* {

}

body {
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: ZonaBlack;
    src: url(/font/Zona-Pro/ZonaPro-Black.otf);
}

@font-face {
    font-family: Zona;
    src: url(/font/Zona-Pro/ZonaPro-SemiBold.otf);
}

header {
    position: absolute;
    display: inline-block;
    right: 0;
    left: 0;
    top: 0;
}

.navbar ul{
    list-style: none;
    float: right;
    padding-right: 20px;
    margin: 0;
    margin-right: 5px;
    position: absolute;
    top: 50%;
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.navbar {
    display: inline-block;
    width: 100%;
    background-color: white;
    height: 120px;
    position: relative;
}

.navbar li {
    display: inline-block;
    margin: 1em;
}

.navButton{
    font-family: ZonaBlack;
    color: #7704ba;
    font-size: 30px;
    text-decoration: none;
    position: relative;
    margin: 15px;
}

.navButton:hover{
    color: grey;
}

.navButton:focus{
    color: grey;
}

.userButton{
    position: relative;
    margin: 15px;
    top: 16px;
}

.purpleLogo{
    height: 150px;
    width: 150px;
    margin-left: 20px;
}

.Background{
    background-image: url(/img/host-page-bg.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-top: 150px;
    position: absolute;
}

.userIntro{
    position: relative;
    top: 10px;
}

.helloUser{
    font-family: ZonaBlack;
    color: white;
    text-align: center;
    font-size: 90px;
}

.toDo{
    position: relative;
    font-family: Zona;
    color: white;
    text-align: center;
    font-size: 25px;
    bottom: 70px;
}

.Events {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.Events ul{
    list-style: none;
    position: absolute;
    margin: auto;
    padding-left: 420px;
}

.Events li{
    display: inline-block;
    margin: auto;
    padding: 1em;
}

.eventButton{
    font-family: Zona;
    outline: white;
    color: #7704ba;
    font-size: 30px;
    text-decoration: none;
    background-color: white;
    padding: 10px 30px;
    border-radius: 15px;
    position: relative;
}

.eventButton:hover{
    background-color: grey;
}

.eventButton:focus{
    background-color: grey;
}

/*Footer*/
footer{
    position: absolute;
    top: 600px;
    height: 220px;
    width: 100%;
}

.foot {
    height: 200px;
    width: 50%;
    margin: auto;
    padding-top: 20px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.foot h3 {
    color: white;
    font-family: Zona;
    text-align: center;
    font-size: 30px;
    
}

.socials {
    width: 70%;
    margin: auto;
    position: relative;
    left: 40px;
}

.socials a {
    margin: 5px;
}

footer {
    margin-top: 200px;
    background-color: #d4b4e6;
}

.footerButton{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 25px;
    background-color: #7704ba;
    color: white;
    font-family: ZonaBlack;
    text-align: center;
    position: relative;
    padding-top: 15px;
    font-size: 20px;
}

.footerButton:hover{
    background-color: grey;
}

.footerButton:focus{
    background-color: grey;
}