
.multi-step-form {
    background-color: white;
    height: 550px;
    width: 1200px;
    margin-top: 100px;
}

.back-button {
    background: none;
    border: none;
    cursor: pointer;
    height: 70px;
    width: 70px;
    fill: #7704ba;
    justify-content: center;
    align-items: left;
}

.next-button {
    background: none;
	border: none;
	cursor: pointer;
    height: 70px;
    width: 70px;
    fill: #7704ba;
    justify-content: center;
    align-items: right;
}

.back-button svg:hover {
    fill: #C784EE;
}

.back-button svg {
    height: 70px;
    width: 70px;
}

.next-button svg:hover {
    fill: #C784EE;
}

.step-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container2 {
    padding: 250px;
}
.container3 {
    padding: 170px;
}