.aboutPage{
    font-family: Helvetica, sans-serif;
    background-image: url("../../images/home-page-bg.jpg");
    height: 100%;
    width: 50%;
    margin: auto;
    margin-top: -4rem;
}

.aboutPage h1{
    font-size: 75px;
    margin-bottom: 1rem;

}

.info h2{
    margin-bottom: 1rem;
}

.info p{
    color: #c784ee;
    display: flex;
    justify-content: center;
}

.info a{
    background-color: #7704ba;
    border: none;
    color: #c784ee;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

