* {
    box-sizing: border-box;
}

@font-face {
    font-family: ZonaBlack;
    src: url(/font/Zona-Pro/ZonaPro-Black.otf);
}


body {
    background-image: url(/img/sign-in-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
}

.container {
    width: 450px;
    height: 600px;
    background-color: white;
    border-radius: 40px;
    position: relative;
    margin: auto;
    transform: translateY(29%);
}

.signin-box {
}

.top {
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

.top h2 {
    padding-left: 40px;
    font-family: ZonaBlack;
    color: #7704ba;
    font-size: 40px;
}

.top img {
    margin-left: 140px;
}