* {

}

body {
    padding: 0;
    margin: 0;
    background-image: url(/img/home-page-bg.jpg);
}


@font-face {
    font-family: ZonaBlack;
    src: url(/font/Zona-Pro/ZonaPro-Black.otf);
}

@font-face {
    font-family: Zona;
    src: url(/font/Zona-Pro/ZonaPro-SemiBold.otf);
}
header {
    position: absolute;
    display: inline-block;
    right: 0;
    left: 0;
    top: 0;
}

.navbar ul{
    list-style: none;
    float: right;
    padding-right: 20px;
    margin: 0;
    margin-right: 5px;
    position: absolute;
    top: 50%;
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.navbar {
    display: inline-block;
    width: 100%;
    background-color: #7704ba;
    height: 140px;
    position: relative;
}

.navbar li {
    display: inline-block;
    margin: 1em;
}

.navButton{
    font-family: ZonaBlack;
    color: white;
    font-size: 30px;
    text-decoration: none;
    position: relative;
    margin: 15px;

}

.whiteButton{
    font-family: ZonaBlack;
    outline: white;
    color: #7704ba;
    font-size: 30px;
    text-decoration: none;
    background-color: white;
    padding: 10px 30px;
    border-radius: 15px;
    position: relative;

}

.whiteLogo{
    height: 150px;
    width: 150px;
    margin-left: 20px;
}

.event {
    display: block;
    margin-top: 300px;
}

.look-for-event {
    background-color: #d4b4e6;
    width:  570px;
    height: 60px;
    margin: auto;
    border-radius: 50px;
    padding-left: 50px;
    display: flex;
}

.look-for-event h3 {
    color: white;
    display: block;
    font-family: Zona;
    padding-left: 30px;
}

.datepicker {
    background-color: #d4b4e6;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.look-for-tag{
    height: 200px;
    padding-top: 20px;
    margin-left: 100px;
}

.look-for-tag h3 {
    color: #7704ba;
    font-family: Zona;
    font-size: 30px;
    margin-right: 100px;
    text-align: center;
}

.event h1{
    color: #7704ba;
    font-family: ZonaBlack;
    font-size: 100px;
    text-align: center;
}

.event a {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 25px;
    background-color: #7704ba;
    color: white;
    font-family: ZonaBlack;
    text-align: center;
    position: relative;
    padding-top: 15px;
    font-size: 20px;
}

.foot {
    height: 200px;
    width: 50%;
    margin: auto;
    padding-top: 20px;
}

.foot h3 {
    color: white;
    font-family: Zona;
    text-align: center;
    font-size: 30px;
    
}

.socials {
    width: 70%;
    margin: auto;
    position: relative;
    left: 50px;
}

.socials a {
    margin: 5px;
}

footer {
    margin-top: 200px;
    background-color: #d4b4e6;

}

.purpleInput{
    color: white;
    background-color: #7704ba;
    border-radius: 15px;
    height: 30px;
    width: 400px;
}

.purpleCategories{
    color: white;
    background-color: #7704ba;
    border-radius: 0px;
    height: 100px;
    width: 400px;
    text-align: center;
}

.formButton{
    font-family: ZonaBlack;
    color: white;
    font-size: 30px;
    text-decoration: none;
    background-color: #7704ba;
    padding: 10px 30px;
    border-radius: 15px;
    margin-left: 10px;
}

.formContent {
    display: flex;
    width: 600px;
    margin: auto;
}

.navButton:hover{
    color: grey;
}

.navButton:focus{
    color: grey;
}

.formButton:hover {
    background-color: grey;
}

footer a:hover {
    background-color: grey;
}

footer{
    margin-top: 300px;
    height: 220px;
    width: 100%;
}

.foot {
    height: 200px;
    width: 50%;
    margin: auto;
    padding-top: 20px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.foot h3 {
    color: white;
    font-family: Zona;
    text-align: center;
    font-size: 30px;
    
}

.socials {
    width: 70%;
    margin: auto;
    position: relative;
    left: 40px;
}

.socials a {
    margin: 5px;
}

footer {
    margin-top: 200px;
    background-color: #d4b4e6;
}

.footerButton{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 25px;
    background-color: #7704ba;
    color: white;
    font-family: ZonaBlack;
    text-align: center;
    position: relative;
    padding-top: 15px;
    font-size: 20px;
}

.footerButton:hover{
    background-color: grey;
}

.footerButton:focus{
    background-color: grey;
}

.whiteButton:hover{
    background-color: grey;
}

.hero {
    display: auto;
    margin-top: 225px;
    width: 500px;
}

.hero h1 {
    width: 100vw;
    height: auto;
    align-items: center;
    text-align: center;
    font-family: ZonaBlack;
    color: #7704ba;
    font-size: 75px;
}