@font-face {
  font-family: ZonaBlack;
  src: url(./font/Zona-Pro/ZonaPro-Black.otf);
  font-display: swap;
}

@font-face {
  font-family: Zona;
  src: url(./font/Zona-Pro/ZonaPro-Bold.otf);
  font-display: swap;
}

@font-face {
  font-family: Rotunda;
  src: url(./font/Rotunda/Rotunda-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: Helvetica;
  src: url(./font/Helvetica/HelveticaNeue-Regular.otf);
  font-display: swap;
}

.app-logo {
  height: 140px;
}


body{
  background-image: url('../src/images/home-page-bg.jpg');
  padding: 0;
  margin: 0;
 }