@font-face {
  font-family: ZonaBlack;
  src: url(./font/Zona-Pro/ZonaPro-Black.otf);
}

@font-face {
  font-family: Zona;
  src: url(./font/Zona-Pro/ZonaPro-Bold.otf);
}

@font-face {
  font-family: Rotunda;
  src: url(./font/Rotunda/Rotunda-Bold.ttf);
}


.app-logo {
  height: 140px;
}

/*Header*/


/*Body*/

body{
  background-image: url(./images/home-page-bg.jpg);
  height: 100px;
  padding: 0;
  margin: 0;
  text-align: center;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

label{
  text-align: center;
  vertical-align: center;
}

.Event{
  margin-bottom: 15mm;
}


